<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.launderup">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_square"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_square"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaunderUp"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.view.activities.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.activities.MainActivity" />
        <activity android:name=".ui.view.activities.LoginActivity" />
        <activity
            android:name=".ui.view.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.activities.VerifyOTPActivity"
            android:exported="false" />
        <activity android:name=".ui.view.activities.NeedHelpActivity" />
        <activity android:name=".ui.view.activities.AboutUsActivity" />
        <activity
            android:name=".ui.view.activities.ProfileUpdateActivity"
            android:exported="false" />
        <activity android:name=".ui.view.activities.TermsConditionsActivity" />
        <activity android:name=".ui.view.activities.ConfirmDetailsActivity" />
        <activity android:name=".ui.view.activities.AddressBookActivity" />
        <activity
            android:name=".ui.view.activities.EditAddressActivity"
            android:exported="false" />
        <activity android:name=".ui.view.activities.PaymentMethodActivity" />
        <activity android:name=".ui.view.activities.SummaryActivity" />
        <activity android:name=".ui.view.activities.OrderPlacedActivity" />
        <activity android:name=".ui.view.activities.FeedbackActivity" />
        <activity android:name=".ui.view.activities.ShopListActivity" />
        <activity android:name=".ui.view.activities.ClothesListActivity" />
        <activity android:name=".ui.view.activities.OrderHistoryActivity"/>
        <!-- facebook manifest starts -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>